body {
    background: url('img/bg_flutuante2A.png') left 42% no-repeat,
        url('img/bg_flutuante2B.png') 100% 3% no-repeat,
        url('img/bg.png') no-repeat fixed !important;
    background-size: 15%, 15%, cover !important;
}

.espaco {
    margin-left: 3px;
    margin-right: 3px;
}


.bg-escuro figcaption,
.bg-escuro .tab-content,
.bg-escuro .modal-body * {
    color: #000;
}

.bg-escuro .infografico-1 p {
    color: #000;
}

.bg-escuro .accordion-body p {
    color: #000 !important;
}

.btn-tema_pagina {
    width: 42px;
    height: 42px;
    position: fixed;
    z-index: 900;
    right: 50px;
    bottom: 110px;
    cursor: pointer;
    transition: all 0.4s;
    background: url('../../assets/images/modo_escuro.svg');
    background-position: center;
    background-size: 100%;
    display: block;
}

.postits {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.postits p {
    font-family: "figtre-regular";
}

.bg-escuro .postits p{
    color: #000;
}

.bg-escuro .postits2 p{
    color: #000;
}

.postits2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.postits2 p {
    font-family: "figtre-regular";
}

.postit1 {
    height: 299px;
    width: 309px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 37px 61px 10px 10px;
    background: url('img/postit_1.png') no-repeat;
}

.postit2 {
    height: 310px;
    width: 325px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 43px 10px 33px;
    background: url('img/postit_2.png') no-repeat;
}

.postit3 {
    height: 277px;
    width: 275px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 43px 10px 33px;
    background: url('img/postit_3.png') no-repeat;
    gap: 20px;
}

@media screen and (max-width: 1050px) {

    .postits2 {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 35px;
    }

}



@media screen and (max-width: 768px) {

    .voltar-topo {
        bottom: 50px;
    }
}