body {
    background: url('../img/bg-flutuante2.png') left 98% no-repeat fixed,
        url('../img/bg-flutuante1.png') 100% 13% no-repeat fixed,
        url('../img/bg.png') no-repeat fixed !important;
    background-size: 15%, 15%, cover !important;

}

.card-1 {
    padding: 165px 15px 15px 15px;
}

.card-2 {
    padding: 15px 15px 15px 15px;
}

.card-3 {
    padding: 5px 1px 1px 1px;
}

.card-3 p {
    font-size: 0.9em;
}

.bg-escuro .bt-tooltip {
    color: #ffff;
}

.bg-escuro .flip-card p {
    color: #000;
}

.hvr-sweep-to-right:active,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:hover {
    color: #fff !important;
}

.bg-escuro figcaption,
.bg-escuro .tab-content,
.bg-escuro .modal-body * {
    color: #000;
}

.bg-escuro .infografico-1 p {
    color: #000;
}

.bg-escuro .accordion-body p {
    color: #000 !important;
}

.bg-escuro .content p{
    color: #000;
}

.bg-escuro .passos{
    color: #000;
}

.bg-escuro .numeros-linha{
    color: #000;
}

.bg-escuro .bloco-info p{
    color: #fff;
}

.bg-escuro .bloco-info h5{
    color: #fff;
}

/* linha do tempo */
.timeline {
    position: relative;
    width: 100%;
    margin: 0 auto 25% 0;
}

.timeline::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 77%;
    background-color: #d2d2d2;
    top: 7%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.step {
    display: flex;
    align-items: center;
    margin: -6px 0;
    position: relative;
}

.step1 {
    display: flex;
    align-items: center;
    margin: -3% 0;
    position: relative;
}

.step2 {
    display: flex;
    align-items: center;
    margin: -20% 0;
    position: relative;
}

.step3 {
    display: flex;
    align-items: center;
    margin: 2% 0;
    position: relative;
}

.step4 {
    display: flex;
    align-items: center;
    margin: -5.6% 0;
    position: relative;
}

.step5 {
    display: flex;
    align-items: center;
    margin: -17% 0;
    position: relative;
}

.circle {
    width: 149px;
    height: 148px;
    border: 5px solid #a0c3e7;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #4a4a4a;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.content {
    background-color: #e1eaf4;
    border-radius: 60px;
    padding: 20px 4px 0px 15px;
    width: 55%;
    text-align: left;
    position: relative;
}

.content.left {
    margin-right: auto;
    margin-left: calc(50% + 75px);
}

.content.right {
    margin-left: auto;
    margin-right: calc(50% + 75px);
}

.content h3 {
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: unset;
    color: #004787;
}

.content p {
    font-size: 17px;
}

.mtop {
    margin-top: 5%;
    position: relative;
}

.numeros-linha {
    font-size: 50px !important;
    font-weight: bold;
    position: absolute;
    margin-top: 30%;
    color: #004787;
}

.passos {
    font-size: 24px !important;
    font-weight: bold;
    position: absolute;
    margin-top: 14%;
    color: #004787;
}

/* linha do tempo */


/* infografico */

.infografico {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
}

.infografico p {
    font-size: 17px;
}

.bloco-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 3px solid #a0c3e7;
    overflow: hidden;
    width: 100%;
}

.imagem {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.texto {
    padding: 1px;
}

.texto h5 {
    color: #0056b3;
    margin: 10px 0;
}

.texto p {
    color: #333;
}

/* Posicionamento personalizado */
.bloco-info:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.bloco-info:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
    margin-top: 24%;
    height: 288px;
}

.bloco-info:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    margin: -150% auto 0 0;
    position: relative;
}

.bloco-info:nth-child(4) {
    grid-column: 3;
    grid-row: 1;
}

.bloco-info:nth-child(5) {
    grid-column: 3;
    grid-row: 2;
    margin-top: 24%;
}

.bloco-info:nth-child(6) {
    grid-column: 4;
    grid-row: 2;
    align-self: center;
    margin: -150% auto 0 0;
}

.infografico-mob {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
}

.infografico p {
    font-size: 17px;
}

.bloco-info-mob {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 3px solid #a0c3e7;
    overflow: hidden;
    width: 100%;
}

.imagem-mob {
    width: 100%;
    height: 204px;
    background-size: cover;
    background-position: center;
}
/* infografico */

@media screen and (min-width:1025px) {
    .infografico-mob{display: none;}
}


@media screen and (max-width:1024px) {
    body {
        background: url('../img/bg.png') no-repeat fixed !important;
        background-size: cover !important;
        overflow-x: hidden;
    }

    .infografico{display: none;}
}

@media screen and (max-width:820px) {
    .paginas {
        overflow-x: hidden !important;
    }

    .step,
    .step1,
    .step2,
    .step3,
    .step4,
    .step5 {
        flex-direction: column;
        text-align: center;
        margin: 6% 0;
    }

    .circle {
        position: relative;
        left: 0;
        transform: none;
        margin-bottom: 20px;
    }

    .content {
        width: 90%;
        margin: 0 auto;
    }

    .content.left,
    .content.right {
        margin: 0 auto;

    }
}


@media screen and (max-width:480px) {
    .infografico-mob {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        gap: 20px;
    }
}
