body {
    background: url('img/flutuante-05.png') left 65% no-repeat,
        url('img/flutuante-06.png') 100% 10% no-repeat,
        url('img/bg.png') no-repeat fixed;
    background-size: 10%, 10%, cover;
}

.espaco {
    margin-left: 3px;
    margin-right: 3px;
}

.bg-escuro figcaption,
.bg-escuro .tab-content,
.bg-escuro .modal-body * {
    color: #000;
}

.bg-escuro .infografico-1 p {
    color: #000;
}

.bg-escuro .accordion-body p {
    color: #000 !important;
}

.btn-tema_pagina {
    width: 42px;
    height: 42px;
    position: fixed;
    z-index: 900;
    right: 50px;
    bottom: 110px;
    cursor: pointer;
    transition: all 0.4s;
    background: url('../../assets/images/modo_escuro.svg');
    background-position: center;
    background-size: 100%;
    display: block;
}

.voltar-topo {
    background: url(../../assets/bt_topo.svg);
    width: 42px;
    height: 42px;
    display: block;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 4;
}

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1400px) {

    .imagem-final {
        margin-top: 11.2%;
    }
}

@media screen and (max-width: 1366px) {}

@media screen and (max-width: 1050px) {
    body {
        background: url('img/bg.png') no-repeat fixed !important;
        background-size: cover !important;
    }

    .paginas {
        overflow-x: hidden !important;
    }
    .imagem-final {
        margin-top: 61%;
    }

}

@media screen and (max-width: 820px) {
    .imagem-final {
        margin-top: 57%;
    }
}

@media screen and (max-width: 768px) {

    .voltar-topo {
        bottom: 50px;
    }

    .imagem-final {
        margin-top: 52%;
    }
}



@media screen and (max-width: 500px) {

    .paginas {
        overflow-x: hidden !important;
    }


    .voltar-topo {
        background: url(../../assets/bt_topo.svg);
        width: 42px;
        height: 42px;
        display: block;
        position: fixed;
        bottom: 50px;
        right: 50px;
        z-index: 4;
    }


}
@media screen and (max-width: 430px) {

    .imagem-final {
        margin-top: 66%;
    }
}


@media screen and (max-width: 414px) {

    .imagem-final {
        margin-top: 23%;
    }
}




@media screen and (max-width: 375px) {

    .imagem-final {
        margin-top: 36%;
    }
}