@charset "utf-8";
/*
	Variáveis em cascata para facilitar a mudança de cores de um curso para o outro.
*/
:root{
	--cor-primaria: #92ACCE;
	--cor-secundaria: #004684;
	--cor-terciaria: #fc9e49;

	--bg-gradiente-topo: var(--cor-terciaria);
	--gradiente-topo: linear-gradient(90deg, var(--cor-secundaria) 0%, var(--cor-primaria) 50%, var(--cor-terciaria) 100%);

	--gradiente-borda: linear-gradient(#fff, #fff) padding-box,
	linear-gradient(270deg, var(--cor-terciaria) 0%, var(--cor-secundaria) 100%) border-box;

	--bg-gradiente-menu: var(--cor-terciaria);
	--gradiente-menu: radial-gradient(farthest-corner at 0 0, var(--cor-terciaria) 0%, transparent 60%), 
	radial-gradient(farthest-corner at 100% 100%, var(--cor-secundaria) 0%, transparent 60%), 
	linear-gradient(180deg, var(--cor-primaria) 0%, var(--cor-primaria) 100%);

	--gradiente-referencias: radial-gradient(circle at 0 10%, var(--cor-primaria) 0, transparent 50%), radial-gradient(circle at 40% 150%, var(--cor-secundaria) 0, #fff 60%);

	--gradiente-fundo: var(--cor-terciaria);
	--gradiente-bg: radial-gradient(farthest-corner at 5% 5%, var(--cor-terciaria) 0%, transparent 60%), 
	radial-gradient(farthest-corner at 0 100%, var(--cor-secundaria) 0%, transparent 60%), 
	linear-gradient(180deg, var(--cor-primaria) 0%, #fff 100%);
}

/*layout com fundo gradiente*/
.bg-gradiente{
	background-color: var(--gradiente-fundo);
	background-image: var(--gradiente-bg);
}
.bg-gradiente .pagina > *{
	color: #fff;
}

/*página de referências*/
.referencias{
    background: var(--gradiente-referencias);
}

/*elementos que levam gradiente primário - três cores*/
#topo, .prognroll-bar{
	background: var(--bg-gradiente-topo);
	background: var(--gradiente-topo);
}
.borda-colorida, .destaque.borda-colorida{
	background: var(--gradiente-borda);
	color: #000;
}

/*elementos que levam gradiente secundário - duas cores*/
.modal-header, .destaque.gradiente,
.multipla-escolha button::before, .game-titulo,
.audio-player input[type=range]::-webkit-slider-thumb,
.audio-player input[type=range]::-webkit-slider-runnable-track,
.audio-player input[type=range]:focus::-webkit-slider-runnable-track{
	background: linear-gradient(270deg, var(--cor-terciaria) 0%, var(--cor-secundaria) 100%);
}
.audio-player input[type=range]::-moz-range-track,
.audio-player input[type=range]::-moz-range-thumb {
	background: var(--bg-gradiente-topo);
	background: var(--gradiente-topo);
}
.offcanvas{
	background: var(--bg-gradiente-menu);
	background: var(--gradiente-menu);
}

/*elementos que levam a cor primária*/
.carousel-indicators .indicador, .splide__pagination__page, .modal-body, 
.popover, .tab-content, .multipla-escolha button,
.f-positivo, .f-negativo, .game-body .slot, .resp, .bg-podcast{
	border-color: var(--cor-primaria);
}
.nav-tabs .nav-link.active, .nav-tabs .nav-link:hover{
	border-top-color: var(--cor-primaria);
	border-left-color: var(--cor-primaria);
	border-right-color: var(--cor-primaria);
}
.carousel-indicators [data-bs-target].active, .splide__pagination__page.is-active,
.game-associar-colunas button.item {
	border-color: var(--cor-primaria);
	background: var(--cor-primaria);
}
.botao, .game-body .card, .game-associar-colunas button.item:hover::before, 
.game-associar-colunas button.selecionado, .game-associar-colunas button.selecionado::before,
.txtacao{
	border-color: var(--cor-primaria);
	color: var(--cor-primaria);
}
.hvr-sweep-to-right:before, .popover-header, .nav-tabs .nav-link,
thead, .accordion-button, .accordion-button:not(.collapsed){background-color: var(--cor-primaria);}

td{
	border-left-color: #fff;
	border-bottom-color: var(--cor-primaria);
}
.page-link{color: var(--cor-primaria)}
.page-item.active .page-link, .list-group-item.active{
	background: var(--cor-primaria);
	border-color: var(--cor-primaria)
}

/*elementos que levam a cor secundária*/
mark{background: var(--cor-terciaria);}

/*elementos que levam a cor terciária*/
.bt-hamburguer, 
.offcanvas-header .bt-fecharmenu{background: var(--cor-terciaria);}