@charset "utf-8";

@font-face {
    font-family: "figtree";
    src: url("../fonts/Figtree-Regular.ttf");
}
@font-face {
    font-family: "figtree-italic";
    src: url("../fonts/Figtree-Italic.ttf");
}
@font-face {
    font-family: "figtree-bold";
    src: url("../fonts/Figtree-Bold.ttf");
}
@font-face {
    font-family: "italiana";
    src: url("../fonts/Italiana-Regular.ttf");
}

body {
    position: relative;
	height: auto;
	overflow-x: hidden;
    font-size: 20px;
}
.bg-fundo{
	width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #000;
    opacity: 0.6;
    transition: all 0.8s;
}
.topo-logo{
    background: url('../images/asset_circulo.svg') no-repeat left -25px center, 
    url('../images/senac_logo.svg') no-repeat right 5% center;
    background-size: auto, 70px;
    height: 60px;
}
.bloco{
    padding: 40px 0;
}
.bloco.bg-gradiente *{color: #fff;}
h1{
    padding: 40px 0;
    text-transform: uppercase;
    font-size: 2em;
    font-family: figtree-bold;
    color: #fff;
    text-align: center;
}
h2, h3, h4, h5{
	margin-bottom: 50px;
    margin-top: 50px;
    font-weight: bold;
    font-family: figtree-bold;
}
h2{
    margin-left: -30px;
    font-size: 1.8em;
}
h3{
    font-size: 1.6em;
}
h4{font-size: 1.4em;}
h5{font-size: 1.2em;}
p, li, th, td, a, 
.figure-caption, .botao,
.tab-pane {
    font-family: figtree;
    font-size: 1em;
}
b, strong{font-family: figtree-bold;}
i, blockquote p, blockquote, em{font-family: figtree-italic;}
p{margin-bottom: 30px;}

.container{
    max-width: 960px;
    position: relative;
    padding: 0 30px;
}

/*footer*/
.voltar-topo{
    background: url('../../assets/bt_topo.svg');
    width: 42px;
    height: 42px;
    display: block;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 2;
}

.pagination .active {
    transform: translateY(-8px);
    pointer-events: none;
	margin: 0 1px;
}
.pagination li a:visited {color: #ccc;}


/*classe para borda arredondada padrão*/
.radius{border-radius: 25px;}

/*classe de sombra padrão*/
.shadow{
    box-shadow: 10px 10px 9px -8px rgba(0,0,0,0.47);
    -webkit-box-shadow: 10px 10px 9px -8px rgba(0,0,0,0.47);
    -moz-box-shadow: 10px 10px 9px -8px rgba(0,0,0,0.47);
}

/*classe que aplica gradiente primário na div que fica por trás das imagens*/
.borda-colorida{
  border: 10px solid transparent;
  border-radius: 50px;
}

/*tabela*/
table{
    border-radius: 15px 15px 0 0;
    width: 100%;
    overflow: hidden;
}
thead th{
    color: #fff;
    padding: 5px 20px;
    border-right: 5px solid #fff;
}
thead th:last-child{border-right: none;}
td{
    border-style: solid;
    border-left-width: 5px;
    border-bottom-width: 3px;
    padding: 10px 20px;
    line-height: 20px;
}
tbody td:first-child{border-left: 0;}

/*painel gaitinha ou accordion*/
.accordion-header{margin-top: 0;}
.accordion-button, .accordion-button:not(.collapsed){
    color: #fff;
    border-radius: 30px 30px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
}
.accordion-item, .accordion-item:first-of-type{
    border: none;
    margin-bottom: 15px;
}
.accordion-button::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill='white' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}
.accordion-button:not(.collapsed)::after{background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill='white' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");}
.accordion-body{
    margin-left: 20px;
    border-left: 3px solid #1e8cb1;
}

/*slideshow - carousel*/
/*carousel bootstrap*/
.carousel{margin-bottom: 100px;}
.carousel-inner{overflow: unset;}
.carousel-indicators .carousel-control-prev, 
.carousel-indicators .carousel-control-next, 
.splide__arrow, .splide__arrow:disabled{
    height: 32px;
    width: 31px;
    opacity: 1;
    bottom: 0;
    border: none;
}
.carousel-control-prev{
    background: url('../images/esquerda.svg') no-repeat;
    left: -130px;
}
.carousel-control-next{
    background: url('../images/direita.svg') no-repeat;
    right: -130px;
}
.carousel-indicators{
    margin-bottom: 0;
    bottom: -50px;
}
.carousel-indicators .indicador, .splide__pagination__page{
    height: 22px;
    width: 22px;
    border-width: 2px;
    border-style: solid;
    border-radius: 100%;
    opacity: 1;
    background-color: #fff;
}

/*splide carousel*/
.container-fluid .splide .splide__slide{margin-right: 100px;}
.splide .card-body{
    opacity: 0;
    transition: opacity .4s ease-in-out;
}
.splide .card:hover .card-body{
    opacity: 1;
}
.splide .card{
    position: relative;
    border-radius: unset;
    border: none;
    background: none;
    margin-bottom: 30px;
    transition: all .4s;
    opacity: .8;
    transform: scale(.8);
}
.splide .is-active .card{
    opacity: 1;
    transform: scale(1);
}
.splide .card .card-body{
    position: absolute;
    bottom: 10px;
    background: #fff;
    width: calc(100% - 20px);
    border: none;
    left: 10px;
    border-radius: 0 0 40px 40px;
}
.splide__arrows svg{display: none;}
.splide__arrow--prev{
    background: url('../images/seta_esq.svg') no-repeat;
    left: calc(25% - 100px);
}
.splide__arrow--next{
    background: url('../images/seta_dir.svg') no-repeat;
    right: calc(25% - 100px);
}
.splide__pagination{
    bottom: -20px;
}
.splide__pagination__page.is-active{transform: unset;}
.splide__arrow{
    top: unset;
    transform: unset;
}

/*estilo de botão padrão*/
.botao{
    border-radius: 25px;
    border-width: 3px;
    border-style: solid;
    background: #fff;
    padding: 10px 25px;
    font-weight: bold;
}
.botao::before{
    border-radius: 30px;
}
.botao.visitado::after{
    background: url('../images/check.svg') no-repeat;
    height: 30px;
    width: 30px;
    position: absolute;
    top: -10px;
    right: -10px;
    content: '';
}

/*modais*/
.modal-header{
    border-bottom: unset;
    border-radius: 25px 25px 0 0;
}
.modal-header h5{
    margin-top: 0;
    color: #fff;
    padding: 5px 20px;
}
.modal-header .btn-close{
    filter: invert(1);
    opacity: 1;
}
.btn-close:focus{box-shadow: unset;}
.modal-body{
    border-width: 3px;
    border-style: solid;
    padding: 20px 40px;
    border-radius: 0 0 25px 25px;
    background: #fff;
}
.modal-content{
    border: unset;
    background: unset;
}
.modal-dialog-centered .modal-content::before{
    content: '';
    background: url('../images/asset_circulo.svg') no-repeat;
    height: 211px;
    width: 211px;
    position: absolute;
    bottom: -50px;
    left: -60px;
    z-index: -1;
}
.modal-footer{border-top: unset;}
.modal-fullscreen .modal-body{
    border-radius: 0;
}

/*tooltip e popover*/
.bt-tooltip{
    border: none;
    border-bottom: 2px dashed;
    background: none;
}
.popover-header{
    margin-top: 0;
    color: #fff;
}

/*painel de abas*/
.nav-tabs{border: none;}
.nav-tabs .nav-link.active, .nav-tabs .nav-link:hover{
    border-width: 3px;
    border-style: solid;
    border-bottom: none;
}
.tab-content{
    border-width: 3px;
    border-style: solid;
    padding: 40px;
    border-radius: 0 25px 25px 25px;
}
.nav-tabs .nav-link{
    padding: 10px 40px;
    border-radius: 25px 25px 0 0;
    font-weight: bold;
    color: #fff;
    border-width: 3px;
    border-bottom:unset;
    margin-bottom: -2px;
}

/*caixas de destaque*/
.paragrafo-destaque{
    padding: 40px;
    font-size: 1.4em;
    text-align: center;
}
.destaque{
    border-radius: 25px;
    margin: 100px 0;
    padding: 40px;
    background: #fff;
    position: relative;
    z-index: 2;
}
.grafismo{position: relative;}
.grafismo::after{
    content: '';
    display: block;
    background: url('../images/asset_circulo.svg') no-repeat;
    height: 211px;
    width: 211px;
    bottom: -50px;
    right: -60px;
    position: absolute;
}
.destaque p:last-child{margin-bottom: 0;}
.destaque.gradiente p{color: #fff;}
.destaque.icone{
    padding-left: 70px;
}
.destaque.icone::before{
    content: '';
    display: block;    
    height: 87px;
    width: 86px;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    left: -40px;
}

/*ÍCONES*/
.destaque.icone.atencao::before,
.destaque.icone.importante::before{background: url('../images/ico_atencao.svg') no-repeat;}
.destaque.icone.dica::before{background: url('../images/ico_dica.svg') no-repeat;}
.destaque.icone.refletir::before{background: url('../images/ico_refletir.svg') no-repeat;}
.destaque.icone.pergunta::before{background: url('../images/ico_pergunta.svg') no-repeat;}
.destaque.icone.pesquisar::before{background: url('../images/ico_pesquisar.svg') no-repeat;}
.destaque.icone.saibamais::before{background: url('../images/ico_saibamais.svg') no-repeat;}
.destaque.icone.observacao::before{background: url('../images/ico_observacao.svg') no-repeat;}
.destaque.icone.relembrar::before{background: url('../images/ico_relembrar.svg') no-repeat;}
.destaque.icone.download::before{background: url('../images/ico_download.svg') no-repeat;}
.destaque.icone.exemplo::before{background: url('../images/ico_exemplo.svg') no-repeat;}
.destaque.icone.atividade::before{background: url('../images/ico_atividade.svg') no-repeat;}
.destaque.icone.visualizar::before{background: url('../images/ico_visualizar.svg') no-repeat;}
.destaque.icone.nota::before{background: url('../images/ico_nota.svg') no-repeat;}
.destaque.icone.conclusao::before{background: url('../images/ico_concluindo.svg') no-repeat;}

/*ÍCONES NEGATIVOS*/
.icone.negativo.atencao::before,
.icone.negativo.importante::before{background: url('../images/ico_atencao_neg.svg') no-repeat;}
.icone.negativo.dica::before{background: url('../images/ico_dica_neg.svg') no-repeat;}
.icone.negativo.refletir::before{background: url('../images/ico_refletir_neg.svg') no-repeat;}
.icone.negativo.pergunta::before{background: url('../images/ico_pergunta_neg.svg') no-repeat;}
.icone.negativo.pesquisar::before{background: url('../images/ico_pesquisar_neg.svg') no-repeat;}
.icone.negativo.saibamais::before{background: url('../images/ico_saibamais_neg.svg') no-repeat;}
.icone.negativo.observacao::before{background: url('../images/ico_observacao_neg.svg') no-repeat;}
.icone.negativo.relembrar::before{background: url('../images/ico_relembrar_neg.svg') no-repeat;}
.icone.negativo.download::before{background: url('../images/ico_download_neg.svg') no-repeat;}
.icone.negativo.exemplo::before{background: url('../images/ico_exemplo_neg.svg') no-repeat;}
.icone.negativo.atividade::before{background: url('../images/ico_atividade_neg.svg') no-repeat;}
.icone.negativo.visualizar::before{background: url('../images/ico_visualizar_neg.svg') no-repeat;}
.icone.negativo.nota::before{background: url('../images/ico_nota_neg.svg') no-repeat;}
.icone.negativo.conclusao::before{background: url('../images/ico_concluido_neg.svg') no-repeat;}

/*box de atividade*/
.box-atividade::before{
    content: '';
    display: block;
    background: url('../images/asset_circulo.svg') no-repeat;
    height: 211px;
    width: 211px;
    top: -60px;
    left: -40px;
    z-index: -1;
    position: absolute;
}
.box-atividade::after{
    content: '';
    display: block;    
    height: 100px;
    width: 100px;
    position: absolute;
    top: -25px;
    margin: auto;
    left: -10px;
    background: url('../images/ico_atividade.svg') no-repeat;
    background-size: contain;
}
.box-atividade{
    border-radius: 30px;
    background: #fff;
    box-shadow: 10px 10px 9px -8px rgba(0,0,0,0.47);
    -webkit-box-shadow: 10px 10px 9px -8px rgba(0,0,0,0.47);
    -moz-box-shadow: 10px 10px 9px -8px rgba(0,0,0,0.47);
    padding: 40px;
    margin: 80px auto;
    position: relative;
}
.titulo-ativ{
    font-family: figtree-bold;
    font-size: 18px;
    margin-left: 80px;
}

/*Menu lateral - hamburguer*/
.bt-hamburguer{
    height: 53px;
    width: 53px;
    border: none;
    position: fixed;
    left: 0;
    top: 150px;
    z-index: 2;
    transition-duration: .2s;
    border-radius: 0 10px 10px 0;
    color: #fff;
    font-size: 30px;
}
.offcanvas-header,.offcanvas-body{
    padding: 0;
}
.offcanvas-start{width: 280px;}
.offcanvas-title{
    margin-top: 10px;
    padding: 10px 15px;
    padding-left: 50px;
    font-size: 18px;
    width: 100%;
    color: #fff;
    border-bottom: 3px solid #fff;
}
.offcanvas-header .bt-fecharmenu{
    position: absolute;
    height: 53px;
    width: 53px;
    right: -53px;
    top: 150px;
    border: none;
    border-radius: 0 10px 10px 0;
    color: #fff !important;
    font-size: 30px;
}
.offcanvas-body ul{
    padding-left: 0;
    margin-top: unset;
}
.offcanvas-body li{
    list-style-type: none;
    padding: 10px 15px;
    padding-left: 50px;
    width: 100%;
    border-bottom: 3px solid #fff;
}
.offcanvas-body li:hover{
    background: #fff;
}
.offcanvas-body li:hover a{color: #000;}
.offcanvas-body li a{
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    color: #fff;
}
.offcanvas-body li a.active{
    background: #fff;
    color: #000;
}

/*MODO ESCURO*/
.layer-preta {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 60px;
    left: 0px;
    background-color: rgb(0, 0, 0);
    opacity: 0.85;
}

.top60 .layer-preta {
    top: 60px;
}

.top00 .layer-preta {
    top: 0px;
}

.bg-escuro h2,
.bg-escuro h3,
.bg-escuro h4,
.bg-escuro h5,
.bg-escuro p,
.bg-escuro li,
.bg-escuro figcaption,
.bg-escuro .tab-content,
.bg-escuro .modal-body * {
    color: #fff;
}
.bg-escuro .destaque *,
.bg-escuro .box-atividade p,
.bg-escuro .tab-pane *{
    color: #000;
}
.bg-escuro .destaque.gradiente *{color: #fff;}

.bg-escuro td {
    background: #333;
    color: #fff
}

.bg-escuro .tab-content {
    background-color: #fff
}

.bg-escuro .accordion-button {
    color: #000;
}

.bg-escuro .container {
    background: transparent;
}

.bg-escuro .layer-preta {
    display: block;
}

.bg-escuro .video-youtube {
    filter: drop-shadow(#000 4px 4px 5px);
}

.btn-tema_pagina {
    width: 42px;
    height: 42px;
    position: fixed;
    z-index: 900;
    right: 50px;
    bottom: 110px;
    cursor: pointer;
    transition: all 0.4s;
    background: url('../images/modo_escuro.svg');
    background-position: center;
    background-size: 100%;
    display: block;
}

.btn-tema_pagina span {
    color: #fff;
}

.btn-tema_pagina:hover {
    transform: scale(1.1);
}
.bg-escuro .game-associar-colunas p{color: #000;}

/*MODO ESCURO*/

/*CITAÇÃO*/
.citacao {padding-left: 20%;}
.citacao *{font-size: .9em;}

/*REFERÊNCIAS*/
.referencias #booklet{
    background-image: url('../images/elemento_dir.png'), url('../images/elemento_esq.png');
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: right top, left bottom;
}
.referencias h2, .referencias h3, .referencias h4{
    font-family: italiana;
}

/*MARCADORES - LISTA*/
.marcador-padrao li{
    background: url('../images/marcador_padrao.svg') no-repeat left top 5px / 20px;
    list-style: none;
    padding-left: 30px;
}
.marcador-seta li{
    background: url('../images/marcador_seta.svg') no-repeat left top 5px / 20px;
    list-style: none;
    padding-left: 30px;
}
.marcador-check li{
    background: url('../images/marcador_check.svg') no-repeat left top 5px / 20px;
    list-style: none;
    padding-left: 30px;
}
.marcador-numeral li, .marcador-letras li{
    list-style: none;
    padding-left: 30px;
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: left top 5px;
}
.marcador-numeral li:first-child{
    background-image: url('../images/marcador_1.svg');
}
.marcador-numeral li:nth-child(2){
    background-image: url('../images/marcador_2.svg');
}
.marcador-numeral li:nth-child(3){
    background-image: url('../images/marcador_3.svg');
}
.marcador-numeral li:nth-child(4){
    background-image: url('../images/marcador_4.svg');
}
.marcador-numeral li:nth-child(5){
    background-image: url('../images/marcador_5.svg');
}
.marcador-numeral li:nth-child(6){
    background-image: url('../images/marcador_6.svg');
}
.marcador-numeral li:nth-child(7){
    background-image: url('../images/marcador_7.svg');
}
.marcador-numeral li:nth-child(8){
    background-image: url('../images/marcador_8.svg');
}
.marcador-numeral li:nth-child(9){
    background-image: url('../images/marcador_9.svg');
}

.marcador-letras li:nth-child(1){
    background-image: url('../images/marcador_a.svg');
}
.marcador-letras li:nth-child(2){
    background-image: url('../images/marcador_b.svg');
}
.marcador-letras li:nth-child(3){
    background-image: url('../images/marcador_c.svg');
}
.marcador-letras li:nth-child(4){
    background-image: url('../images/marcador_d.svg');
}
.marcador-letras li:nth-child(5){
    background-image: url('../images/marcador_e.svg');
}
.marcador-letras li:nth-child(6){
    background-image: url('../images/marcador_f.svg');
}
.marcador-letras li:nth-child(7){
    background-image: url('../images/marcador_g.svg');
}
.marcador-letras li:nth-child(8){
    background-image: url('../images/marcador_h.svg');
}
.marcador-letras li:nth-child(9){
    background-image: url('../images/marcador_i.svg');
}
.marcador-letras li:nth-child(10){
    background-image: url('../images/marcador_j.svg');
}
.marcador-letras li:nth-child(11){
    background-image: url('../images/marcador_k.svg');
}
.marcador-letras li:nth-child(12){
    background-image: url('../images/marcador_l.svg');
}
.marcador-letras li:nth-child(13){
    background-image: url('../images/marcador_m.svg');
}
.marcador-letras li:nth-child(14){
    background-image: url('../images/marcador_n.svg');
}
.marcador-letras li:nth-child(15){
    background-image: url('../images/marcador_o.svg');
}
.marcador-letras li:nth-child(16){
    background-image: url('../images/marcador_p.svg');
}
.marcador-letras li:nth-child(17){
    background-image: url('../images/marcador_q.svg');
}
.marcador-letras li:nth-child(18){
    background-image: url('../images/marcador_r.svg');
}
.marcador-letras li:nth-child(19){
    background-image: url('../images/marcador_s.svg');
}
.marcador-letras li:nth-child(20){
    background-image: url('../images/marcador_t.svg');
}
.marcador-letras li:nth-child(21){
    background-image: url('../images/marcador_u.svg');
}
.marcador-letras li:nth-child(22){
    background-image: url('../images/marcador_v.svg');
}
.marcador-letras li:nth-child(23){
    background-image: url('../images/marcador_w.svg');
}
.marcador-letras li:nth-child(24){
    background-image: url('../images/marcador_x.svg');
}
.marcador-letras li:nth-child(25){
    background-image: url('../images/marcador_y.svg');
}
.marcador-letras li:nth-child(26){
    background-image: url('../images/marcador_z.svg');
}
/*FIM MARCADORES*/

/*FLIP CARDS*/
.flip-card {
    background-color: transparent;
    width: 234px;
    height: 423px;
    perspective: 1000px;
    cursor: pointer;
    margin: 20px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background: #ccc;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-back {
    transform: rotateY(180deg);
}
/*FIM FLIP CARDS*/

/*IMAGEM COM ZOOM NO MOBILE*/
.img-zoom {
    display: table;
    position: relative;
    margin: 0px auto;
    cursor: pointer;
}
.img-zoom::after {
    content: url(../images/ico_visualizar.svg);
    display: block;
    width: 88px;
    height: 88px;
    right: 0;
    bottom: 7%;
    position: absolute;
}
/*FIM MAGEM COM ZOOM NO MOBILE*/

/*SAIBA MAIS*/
.caixa-container {
    position: relative;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-bottom: 60px !important;
  }
  
  .caixa-exp {
    max-height: 60px;
    overflow: hidden;
    width: 100%;
    margin: 40px auto;
    transition-duration: .7s;
    position: relative;
    border: none;
  
  }
  
  .caixa-exp.aberta {
    max-height: 1900px;
  }
  
  .caixa-exp figure {
    margin-top: 40px;
  }
  
  .caixa-container button.btpluscaixa {
    content: '';
    background-image: url('../../assets/images/bt_mais.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 54px;
    height: 54px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
    background-color: transparent;
    border: none;
  }
  
  .caixa-container button.btpluscaixa:hover {
    transform: translateX(-50%) scale(1.03);
  }
/*FIM SAIBA MAIS*/

@media screen and (max-width: 1200px){
    h2{margin-left: 0;}
    .container-fluid .splide .splide__slide{
        width: 80% !important;
    }
    .grafismo::after{
        right: -30px;
    }
    .referencias #booklet{background-image: none;}
}
@media screen and (max-width: 780px){
    p, li, th, td, a, 
    .figure-caption, .botao,
    .tab-pane {font-size: .8em;}
    .paragrafo-destaque{font-size: 1em;}
    h1{font-size: 5vw;}
    .topo-logo{
        background-size: auto, 14%;
    }
    .destaque.icone{
        margin-top: 90px;
        padding-left: 40px;
        padding-top: 80px;
    }
    .destaque.icone::before{
        top: -60px;
        bottom: unset;
        left: 0;
        right: 0;
    }
    .btn-tema_pagina, .voltar-topo {
        right: unset;
        left: 10px;
    }
    .voltar-topo{bottom: 10px;}
    .btn-tema_pagina{bottom: 55px;}
}
@media screen and (max-width: 580px){
    .topo-logo{
        background-size: 47%, 14%;
        background-position: left -155px center, right 5% center;
    }
    .modal-xl .container{padding: 0;}
}