body {
    background: url('img/bg_flutuante2A.png') left 42% no-repeat,
        url('img/bg_flutuante2B.png') 100% 3% no-repeat,
        url('img/bg.png') no-repeat fixed !important;
    background-size: 15%, 15%, cover !important;
}

.espaco {
    margin-left: 3px;
    margin-right: 3px;
}


.bg-escuro figcaption,
.bg-escuro .tab-content,
.bg-escuro .modal-body * {
    color: #000;
}

.bg-escuro .infografico-1 p {
    color: #000;
}

.bg-escuro .accordion-body p {
    color: #000 !important;
}

.btn-tema_pagina {
    width: 42px;
    height: 42px;
    position: fixed;
    z-index: 900;
    right: 50px;
    bottom: 110px;
    cursor: pointer;
    transition: all 0.4s;
    background: url('../../assets/images/modo_escuro.svg');
    background-position: center;
    background-size: 100%;
    display: block;
}

.card-redes {
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 141px 46px 78px;
    max-width: 1570px;
    margin: 20px auto;
    margin-left: -52%;
    position: absolute;
    padding-left: 52%;
}

.card-header-redes {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-header-redes .linkedin {
    width: 206px;
    height: 149px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header-redes img {
    width: 206px;
    height: 149px;
}

.card-redes h4 {
    margin: 20px 0;
    line-height: 1.5;
}

.card-header-redes .line {
    width: 693px;
    height: 3px;
    background: linear-gradient(to right, #004787, #91ABCD);
    border-radius: 2px;
    margin-top: 5%;
    margin-left: -13%;
}




















@media screen and (max-width: 1050px) {}



@media screen and (max-width: 768px) {

    .voltar-topo {
        bottom: 50px;
    }
}