@charset "utf-8";

@font-face {
    font-family: "figtree";
    src: url("../fonts/Figtree-Regular.ttf");
}
@font-face {
    font-family: "figtree-italic";
    src: url("../fonts/Figtree-Italic.ttf");
}
@font-face {
    font-family: "figtree-bold";
    src: url("../fonts/Figtree-Bold.ttf");
}


* {
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  color: white;
  font-family: 'figtree';
  font-weight: 300;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  position:relative;
}

header {
  padding-top: 50px;
  margin-bottom: 30px;
}

h1 {
  font-family: 'figtree-bold' !important;
  font-weight: bold;
  font-size: 70px;
  color: #ffffff;
  margin-bottom: 0px;
}

h2 {
  font-family: 'figtree';
  font-size: 40px;
  color: #ffffff;
  font-weight: 300;
}

h3 {
  font-family: 'figtree';
  font-size: 27px;
  color: #000;
}
.h4, h4 {
  font-family: 'figtree';
  font-size: 25px;
}
hr {
  width: 200px;
  height: 10px;
  border-radius: 5px;
  background: #4A74C1;
  border-top: unset;
  margin: 10px 0 15px;
}
a{
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
li a{
  display: block;
  width: 100%;
  height: 100%;
}
.container.grupos{
  padding-bottom: 50px;
}

.grupo {
  background: rgba(255,255,255,.9);
  border-radius: 10px;
  display: flex;
  margin-bottom: 40px;
  position: relative;
  z-index: 10;
}

.grupo .drag-column {
  min-height: 220px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.drag-column h3 {
  width: 100%;
  margin-top: 0;
  color: white;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
}
.drag-column:first-of-type h3 {
  border-top-left-radius: 10px;
}
.drag-column:last-of-type h3 {
  border-top-right-radius: 10px;
}
.margin50{
  margin-top: 50px;
}
.drag-column-in-progress {
  border-right-style: dashed;
  border-left-style: dashed;
  border-color: #fff;
  border-width: 2px;
}
.drag-item > a {
  padding-top: 10px;
  width: 100%;
  overflow: hidden;
  height: 90%;
  line-height: 22px;
  padding-left: 10px;
  font-size: .9em;
  padding-right: 55px;
  text-decoration: none;
}

.border{
  padding: 10px;
  width: 100%;
  max-width: 640px;
  font-size: 1.4rem;
  border: 1px solid white;
  line-height: 1.4;
  margin-top: 10px;
  margin-bottom: 30px;
}

.exemplo {
  width: 197px;
  height: 142px;
  background: url(../../assets/card_instrucao.png) no-repeat;
  display: none;
  position: absolute;
}

.setinha {
  background-image: url(../../assets/seta.png);
  background-repeat: no-repeat;
  position: absolute;
  left: -120px;
  top: 130px;
  animation: seta 2s infinite;
  width: 0px;
  height: 34px;
  background-size: 134px 34px;
  display: none;
}

.btPrint{
  display: block;
  position: absolute;
  top: 40px;
  right: 10px;
  z-index: 99;
  background-image: url(../../assets/printer.svg);
  background-size: 38px;
  width: 36px;
  height: 37px;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  border: 0;
  font-size: 0;
}
.btPrint:hover{
  transform: scale(1.1);
}
.btMenuPrint{
  padding: 10px 20px;
  padding-left: 40px;
  font-size: 1.6rem;
  border-radius: 20px;
  border: 0;
  float: right;
  margin-top: .5rem;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background-image: url(../../assets/printer.svg);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
.btMenuPrint:hover, .dropdown.dropdown-bubble:hover{
  transform: scale(1.1);
}
.menuPrint{
  border: 0;
}
.menuPrint.dropdown-menu li{
  border: 0;
  background-image: none !important;
}
.menuPrint.dropdown-menu li a::before{
  background-image: url(../../assets/printer.svg);
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  border-radius: 15px;
  background-position: center center;
  background-size: 30px;
  background-repeat: no-repeat;
  margin-right: 5px;
  margin-left: -10px;  
}
ul.menuPrint.dropdown-menu:before{
  display: none;
}

.referencias{
  height: 80px;
  width: 200px;
}

@keyframes seta {
  0% {
    width: 0px;
    height: 34px;
  }
  80% {
    width: 134px;
    height: 34px;
  }
  100% {
    width: 134px;
    height: 34px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.drag-container {
  max-width: 1000px;
  margin: 20px auto;
}

.drag-list {
  display: flex;
  align-items: flex-start;
}

.drag-column h2 {
  font-size: 0.8rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
}

.drag-inner-list {
  min-height: 150px;
  padding: 10px;
}

.drag-item {
  width: 197px;
  height: 130px;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  font-family: 'figtree', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #000000;
  display: inline-grid;
  /* padding: 50px 15px; */
  text-align: center;
  cursor: pointer;
  background-size: contain;
  margin: 4px;
  border-radius: 15px;
  filter: drop-shadow(2px 2px 4px #333);
  position: relative;
  z-index: 1;
  background: #fff;
}
/* 
.drag-item:hover {
  transform: scale(1.03);
} */

.drag-item.fazer::before {
  content: '';
  display: block;
  height: 15px;
  width: 15px;
  background: #ff7373;
  border-radius: 100%;
  position: absolute;
  right: 20px;
  top: 15px;
}

.drag-item.fazendo::before {
  content: '';
  display: block;
  height: 15px;
  width: 15px;
  background: #f2e461;
  border-radius: 100%;
  position: absolute;
  right: 20px;
  top: 15px;
}

.drag-item.feito::before {
  content: '';
  display: block;
  height: 15px;
  width: 15px;
  background: #45ff9d;
  border-radius: 100%;
  position: absolute;
  right: 20px;
  top: 15px;
}

.drag-item.is-moving {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  background: rgba(0, 0, 0, 0.8);
}

/* Dragula CSS  */

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  list-style-type: none;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
}

@media (max-width: 991px) {
  header{
    padding-top: 15px;
    margin-bottom: 30px;
  }
  h1{
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    background: #d4eeee;
    margin: 0 0 -1px;
    padding: 10px 20px;
    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .grupo {
    display: block;
    background-color: unset;
  }
  .drag-column-in-progress {
    border: unset;
  }
  .drag-inner-list {
    height: 100px;
    display: inline-flex;
  }
  .drag-list {
    display: block;
  }
  .grupo .drag-column {
    min-height: 167px;
    margin-bottom: 50px;
    background: #d4eeee;
    overflow-x: scroll;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .visible-xs {
    display: flex !important;
  }
  hr {
    width: 200px;
    height: 13px;
    border-radius: 5px;
    background: #4A74C1 ;
    border-top: unset;
    margin: 20px 0 0;
}
.margin50 {
  margin-top: unset;
}
.drag-item{
  margin-right: 20px;

}
}

@media screen and (min-width: 1600px) {
  .container {
    width: 1360px;
  }
}

.dropdown-bubble{
  display: inline-table;
  text-align: right;
}

.dropdown-bubble .dropdown-menu {
  margin-top: 0.8em;
  color: #ffffff;
  min-width: 108px;
  padding: 0 9px;
  border-radius: 6px;
  right: 0;
  bottom: 50px;
  height: 74px;  
}
.dropdown.dropdown-bubble{
  background: url(../../assets/direcionais.svg) no-repeat right 10px bottom 10px;
  background-size: 35px;
}
.show {
  position: relative;
  z-index: 100;
}
.caret {
  display: inline-block;
  width: 45px;
  height: 0;
  color: transparent;  

}

.dropdown-bubble .dropdown-menu li{
  cursor: pointer;
  font-weight: bold;
}



@media only screen and (min-width: 1000px) and (max-width: 1400px){
  .drag-item {
    width: 178px;
    height: 123px;
    background-size: contain;
  }
}

.mao{
  position: absolute;
  width: 35px;
  bottom: 0;
  left: 82%;
  animation: anima-mao 3s;
  animation-iteration-count: 2;
  display: none;
}

@keyframes anima-mao{
  from
  {
    left: 82%;
  }
  to 
  {
    left: 10%;
  }
}

.modal-dialog {
  position: fixed;
  width: 78%;
  margin: 10px;
  bottom: 0;
  left: 8%;
}

.modal-body{
  color: #007950;
  text-align: center;
  padding: 3px;
}

.modal-body h4{
  font-size: 22px !important;
}

.modal-body p{
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
}

.separador{
  border-bottom: 1px solid #e7e7e0;
}

.separador:nth-child(3){
  border-bottom: unset;
}


.ui-loading .ui-loader { display: block; }
.ui-loader { display: none; position: absolute; opacity: .85; z-index: 100; left: 50%; width: 200px; margin-left: -130px; margin-top: -35px; padding: 10px 30px; }



/**
*** Seta para BAIXO
**/
.dropdown-menu:before {
  content: "";
  display: block;
  vertical-align: middle;
  margin-right: 10px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid var(--cor-primaria);
  position: absolute;
  top: 72px;
  right: 0;
}
.dropdown-menu li{
  border-bottom: 0.8px dashed #eeee;
}

.disabled, .disabled h3{
  color: #AEB7B2;
  background: #E1F3EC;
}

.dropdown-menu .disabled{
  color: #AEB7B2;
  background-color: unset;
}

.voltar-topo{
  height: 50px;
  width: 50px;
  z-index: 999;
}
.voltar-topo:hover{transform: scale(1.1);}

.mover-fazer{
  display: none;
}





@media only screen and (min-width:1000px) and (max-width: 1400px){
  .dropdown-bubble .dropdown-menu{
    padding: 0 8px;
  }

  .dropdown-menu::before {
    content: "";
    display: block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solidtransparent;
    border-top: 7px solid    #808DA3;
    position: absolute;
    top: 63px;
    right: 15px;
}
.drag-item p {
  padding: 38px 10px 0;
}
}

.tooltip.in{
  opacity: 1;
}
.tooltip > .tooltip-inner {
  background-color: #808DA3;
  opacity: 1;
}

.tooltip-arrow{ 
  border-top-color:#808DA3 !important; 
}




/*ajustes para o botao com popup*/

.drag-item{
  position: relative;
}

.dropdown.dropdown-bubble{
  height: 55px;
  width: 55px;
  bottom: 0;
  right: 0;
  position: absolute;
}
.dropdown.dropdown-bubble > .ui-link{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}


.circulo-1 {
  position: absolute;
  left: -250px;
  z-index: 3;
}
.circulo-1 {
  position: absolute;
  left: -250px;
  z-index: 3;
  width: 500px;
  height: 500px;
  background: url(../../../assets/images/quadrado_ripado.svg) no-repeat;
  background-size: cover;
  top: -55px;
  transform: rotate(20deg);
}
.circulo-2 {
  height: 250px;
  width: 250px;
  position: absolute;
  top: 435px;
  left: -20px;
  transform: rotate(200deg);
}

.circulo-3 {
  transform: rotate(200deg);
  background: url(../../../assets/images/quadrado_ripado.svg) no-repeat;
  position: absolute;
  width: 500px;
  height: 500px;
  bottom: -385px;
  right: -60px;
  background-size: cover;
}
.circulo-4 {
  height: 150px;
  transform: rotate(200deg);
  width: 150px;
  position: absolute;
  bottom: 50px;
  right: 30px;
}
@media screen and (max-width: 2000px) {
  .circulo-1, .circulo-2, .circulo-3, .circulo-4 {
    transform: scale(0.7) rotate(200deg);
    z-index: 9;
  }

}
@media screen and (max-width: 1680px) {
  .circulo-2, .circulo-3, .circulo-4 {
    transform: rotate(200deg) scale(0.5);
    z-index: 9;
  }
  .circulo-1 {
    left: -325px;
    transform: rotate(20deg) scale(0.5);
  }
  .circulo-2 {
    top: 200px;
    z-index: 2;
    left: -150px;
  }
  .circulo-3{right: -245px;}
  .circulo-4 {
    right: 0px;
    bottom: -100px;
  }
}

@media screen and (max-width: 1330px) {
  .circulo-1, .circulo-2, .circulo-3, .circulo-4 {
    display: none;
  }
}

@media screen and (max-width:500px) {
  .grupo {
    padding-left: 15px;
    padding-right: 15px;
  }
  .grupo .drag-column{overflow-y: hidden;}
}
